@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
button {
  cursor: pointer;
}

.Hero {
  height: 95vh;
  background-image: url(./IMG_1895.jpeg);
  background-size: cover;
}
.navbar {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 60px 200px;
}
.router{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap:20px
}
.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 200px;
}
li > a {
  color: white;
  text-decoration: none;
}

.pages {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  color: white;
  /* margin-top: 20px; */
}
.start {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.purchase {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 100px;
  color: white;
  background-color: #e93a7d;
}
.purchase:hover {
  background-color: #8e093c;
}
.heroLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.leftTitle {
  font-size: 58px;
  font-weight: 700;
  color: white;
}
.leftText {
  font-size: 22px;
  color: white;
}
.learn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157px;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 100px;
  color: white;
  background-color: #e93a7d;
}
.learn:hover {
  background-color: #8e093c;
}
.heroRight {
  width: 70%;
  gap: 30px;
  border-radius: 10px;
}
.heroRight > img {
  object-fit: cover;
  height: 400px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  height: auto;
}
.cardTitle {
  font-size: 18px;
  font-weight: 500;
  color: #360136;
}
.cardText {
  font-size: 16px;
  opacity: 50%;
}
.Features {
  display: flex;
  flex-direction: column;

  gap: 30px;
  padding: 90px 200px;
}
.featuresContainer {
  display: flex;
  flex-direction: column;
}
.featureCards {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

/* .featuresTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
} */
.featuresTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-weight: 700;
  color: #360136;
}

.featureCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: start;
  width: 45%;
  height: auto;
}
.mainTitle {
  font-size: 18px;
  color: #360136;
  font-weight: 500;
}
img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
.tCardText {
  font-size: 18px;
  opacity: 50%;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hamburger-icon {
  display: none;
  width: 50px;
  height: 25px;
  /* background-color: white; */
}
.TrueFalse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 200px;
  gap: 30px;
}
.trueFalseContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.tf {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: rgba(255, 180, 180, 0.804);
  height: 270px;
  /* text-align: center; */
  padding: 40px 20px;
  border-radius: 8px;
  gap: 10px;
}
#tf2 {
  background-color: rgba(148, 227, 148, 0.737);
}
.tfTitle {
  font-size: 42px;
  color: #360136;
  font-weight: 700;
}
.fCardTitle {
  font-size: 20px;
  color: #360136;
  font-weight: 500;
}
.titlee {
  font-size: 24px;
  color: #224430;
  font-weight: 500;
}
#titleee {
  color: rgb(151, 29, 29);
}
.textt {
  font-size: 20px;
  opacity: 50%;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
  gap: 35px;
}
.aboutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between ;
  gap:30px;
}
.aboutText{
  font-size: 20px;
  opacity: 50%;
}
.aboutImg{
  width: 100%;
  height: 350px;
}
.miniBoxs{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.miniBox{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 400px;
  height: 250px;
  border-radius: 8px;
  padding: 20px;
  background-color: #3601361a;
  /* border: 1px solid red; */
}
.miniTitle{
  font-size: 22px;
  font-weight: 500;
  color: #360136;
}
.miniText{
  font-size: 18px;
  opacity: 50%;
}
@media (max-width: 1440px) {
  .navbar {
    padding: 50px 50px;
  }
  .hamburger-icon {
    display: block;
  }

  .pages {
   
    display: none;
  }
  /* li {
    padding:5px;
    } */
    .purchase {
      margin-top: 17px;
    }
    .pages.active {
    font-size: 20px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  gap: 5px;
  }

  .leftTitle {
    font-size: 38px;
  }
  .leftText {
    font-size: 18px;
  }
  .learn {
    width: 130px;
    height: 40px;
    font-size: 16px;
  }
  .heroRight {
    width: 900px;
    padding: 40px 0;
  }
  .rightTitle {
    font-size: 35px;
    color: #360136;
    font-weight: 700;
  }
  .heroContainer {
    padding: 50px 50px;
    gap: 10px;
  }
  .inputs {
    width: 100%;
  }
  input {
    width: 100%;
  }
  .featuresTitle {
    font-size: 32px;
  }
  .Features {
    padding: 50px 50px;
  }
  img {
    height: 150px;
  }
  .tCardTitle {
    font-size: 16px;
  }
  .tCardText {
    font-size: 16px;
  }
  .tfTitle{
    font-size: 32px;
  }
  .heroRight>img{
    width: 100%;
    height: 300px;
  }
  .about{
    padding: 0 50px;
  }
  .miniTitle{
    font-size: 18px;
  }
  .miniText
  {
    font-size: 16px;
  }
  .miniBox{
    width: 90%;
    height: 170px;
  }
  .aboutImg{
    height: 200px;
  }
  .TrueFalse{
    padding: 50px 50px;
  }
  .titlee{
    font-size: 20px;
  }
  .textt{
    font-size: 18px;
  }
  .titlee{
    font-size: 20px;
  }
  .textt{
    font-size: 16px;
  }
  .miniBoxs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .featureCards{
    display: flex ;
    align-items: center;
    justify-content: center;
  }
  .featureCard{
    width: 70%;
  }
  .featureCard>img{
    height: 250px;
  }
}
/* @media (max-width: 600px) {
.start{
  font-size: 22px;
}
.hamburger-icon{
  width: 40px;
}
.leftTitle{
  font-size: 28px;
}
} */

